.jqcloud {
  font: 10px "Helvetica", "Arial", sans-serif;
  line-height: normal;
  overflow: hidden;
  position: relative;
}

.jqcloud-word {
  margin: 0;
  padding: 0;
}
.jqcloud-word.w1 {
  font-size: 100%;
}
.jqcloud-word.w2 {
  font-size: 150%;
}
.jqcloud-word.w3 {
  font-size: 200%;
}
.jqcloud-word.w4 {
  font-size: 250%;
}
.jqcloud-word.w5 {
  font-size: 300%;
}
.jqcloud-word.w6 {
  font-size: 350%;
}
.jqcloud-word.w7 {
  font-size: 400%;
}
.jqcloud-word.w8 {
  font-size: 450%;
}
.jqcloud-word.w9 {
  font-size: 500%;
}
.jqcloud-word.w10 {
  font-size: 550%;
}
.jqcloud-word a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
.jqcloud-word a:hover {
  color: inherit;
}
